---

---

<div class="content-panel">
	<div class="sl-container"><slot /></div>
</div>

<style is:global>
	@layer starlight.core {
		.content-panel {
			padding-inline: var(--sl-content-pad-x);
		}

		.sl-container {
			max-width: var(--sl-content-width);
		}

		.sl-container > * + * {
			margin-top: 1rem;
		}

		@media (min-width: 50rem) {
			[data-has-sidebar] .sl-container {
				margin-inline: 0;
			}
		}

		main > .content-panel:first-child {
			padding-top: var(--sl-content-pt);
			padding-bottom: 0;
		}

        main > .content-panel:nth-child(2) {
            border-top: none;
            padding-top: 0;
        }

		main > .content-panel:last-child {
			padding-bottom: 1.5rem;
		}

		main > .content-panel:nth-child(2) .sl-markdown-content > :first-child {
			margin-top: 0 !important;
		}
	}
</style>
