---
import TopicsSelector from "./topics/TopicsSelector.astro";
---

<div
    class="-mx-(--sl-nav-pad-x) flex h-full min-w-0 items-center ps-[calc(var(--sl-layout-offset,0px)+var(--sl-sidebar-width))] max-[49.99rem]:hidden"
>
    <div
        class="h-10 w-full min-w-0 scrollbar-none overflow-x-auto border-b border-(--sl-color-hairline-shade) px-(--sl-content-pad-x) [&::-webkit-scrollbar]:hidden"
    >
        <TopicsSelector />
    </div>
</div>
