---
const { title, description } = Astro.locals.starlightRoute.entry.data;
---

<h1 id="_top" class="m-0 text-[1.75em] font-semibold text-[var(--sl-color-white)]">{title}</h1>
{description && <p class="page-description m-0 text-lg text-[var(--sl-color-gray-2)]">{description}</p>}
